
*{
    margin: 0;
    padding: 0;
}

 header  {
    margin: 0;
    padding: 2px;
}

#menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
 
}

.menu_lista{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
}

 .menu_item a{
  text-decoration: none;
   color:darkgrey;
   font-size: 1.2rem;
} 

#menu img {
  width: 60px;
  height: 40px;
}


#menu ul li a:hover{
    background-color:#F0E6EF;
}


.log {
    margin: 10px;
    float: left;
    position: relative;
    list-style: none;
}

.button{
    text-align: left;
    margin: 10px;
    text-decoration: none;
    padding: 20px;
}

.search {
    text-align: left
}


.box {
    display: inline-block;
    padding: 3px;
  	margin: 9px;
    box-sizing: border-box;
    border: 0px;
    text-align: center;

}

.Título {
    padding: 0px;
    margin: 10px;
    text-align: left;
    color: white;
    font-size: 4rem;
    font-family: 'Quando', serif;;
}

.Subtítulo .texto_cultura {
    padding: 0px;
    margin: 10px;
    text-align: left;
    color: white ;
    font-family: 'Roboto', sans-serif;
}


.fondo {
    background-color: #FDD0A9;
    padding: 40px;
    margin: 0px;
    background-image: url("../src/multimedia/fotos/foto_portada.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size:contain;
}

.foto_portada{
    margin-bottom: 100px;
}

figcaption{
  font-family: 'Roboto', sans-serif;
}

.subti{
  text-align: center;
  font-family:  'Roboto', sans-serif;
  font-style: Bold 700;
  margin-top: 40px;
}

span{
  color: #CA9D9C;
}

.figura {
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
}

.figura_2{
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
}




.bor{
  padding: 40px;
  text-align: center;
}

.boton_per{
    text-decoration: none;
    margin: 90px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #131111;
    border-radius: 6px;
    border: 2px solid #0b0b0c;
    font-family: 'Roboto', sans-serif ;
    align-content: center;
  }

.boton_per:hover{
    color: white;
    background-color: #221818;
  }


  span{
    color: #CA9D9C;
  }

  
.img_com img{
  margin-top: 20px;
  padding: 10px;
}

.pm{
  margin-top: 40px ;
   font-family:  'Roboto', sans-serif; 
   text-align: center;
}

.span_2{
color: #CA9D9C;
}

.Container{
  padding: 10px;
  display: flex;
  justify-content:space-evenly
}

.producto_{
  padding:34px;
}
