/* Código para estandarizar */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}


img{
  max-width: 100%;
  display: block;
}

 header  {
    margin: 0;
    padding: .2rem;
}

/* MENU */

#navbar{
height: 5rem;
z-index: 1;
}

 
 #navbarSupportedContent li a{
  color:gray;
  font-size: 1.7rem;
  padding: 2rem;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-toggler-icon .icon-bar{
  color: #0b0b0c;
}


/* @media(min-width: 768px){
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
  }
}

@media(min-width: 768px){
.menu_lista{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
}
}

 .menu_item a{
  text-decoration: none;
   color:darkgrey;
   font-size: 2rem;
} 

#menu img {
  width: 60px;
  height: 40px;
}


#menu ul li a:hover{
    background-color:#F0E6EF;
} */


.log {
    margin: 0px;
    float: left;
    position: relative;
    list-style: none;
}

.button{
    text-align: left;
    margin: 10px;
    text-decoration: none;
    padding: 20px;
}

.search {
    text-align: left
}

@media (min-width: 768px){
  .listado-colecciones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
    gap: 2rem;
  }
}


.Título {
    padding: 0px;
    margin: 10px;
    text-align: left;
    color: white;
    font-size: 7rem;
    font-family: 'Quando', serif;;
}

.Subtítulo .texto_cultura {
    padding: 0px;
    margin: 10px;
    text-align: left;
    color: white ;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

@media (min-width: 268px){
  .fondo {
    background-color: #FDD0A9;
    padding: 5rem;
    margin: 0px;
    background-image: url("../src/multimedia/fotos/foto_portada.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size:contain;
}
}


.foto_portada{
    margin-bottom: 100px;
}

figcaption{
  font-family: 'Roboto', sans-serif;
}

.subti{
  text-align: center;
  font-family:  'Roboto', sans-serif;
  font-style: Bold 700;
  margin-top: 4rem;
  font-size: 2.5rem;
}

span{
  color: #CA9D9C;
}

@media (min-width: 768px) { 
  .más_vendidos{
      margin-bottom: 0;
      justify-content: center;
  }
}

@media (min-width: 768px){
  .seccion_1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4.5rem;
    gap: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;   
  }
}
@media (min-width: 768px){
.seccion_2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4.5rem;
  gap: 8rem;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;  
}
}


.bor{
  padding: 40px;
  text-align: center;
  font-size: 2.5rem;
}


@media (min-width: 372px){
  .boton_per{
    text-decoration: none;
    margin: 90px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #131111;
    border-radius: 6px;
    border: 2px solid #0b0b0c;
    font-family: 'Roboto', sans-serif ;
    align-content: center;
  }
}

@media (min-width: 372px){
  .boton_per:hover{
    color: white;
    background-color: #221818;
  }
  
}
@media (min-width: 372px){
 span{
    color: #CA9D9C;
  }
}

.img-fluid{
margin-right: 5rem;
padding: 1rem;
background-size: cover;
} 


.pm{
  margin-top: 4rem ;
   font-family:  'Roboto', sans-serif; 
   text-align: center;
   font-size: 2.5rem;
}

.span_2{
color: #CA9D9C;
}

.Container{
  margin-left: 0px;
  margin-top: 1.3rem;
  display: flex;
  justify-content:space-evenly
}

.producto_{
  padding:34px;
}

.Container{
  border-top: .5px solid #e1e1e1;
  margin-top: 1.5rem;
  padding-top: .2rem;
}

/* Footer */

footer{
  background-color: black;
  height: 16rem;
}

footer, h3, p{
  color: #ffff;
}


.site-footer h3 {
  margin-bottom: .5rem;
  text-align: center;
}

.grid-footer > div {
  margin-bottom: 4rem;
}
@media (min-width: 768px) { 
  .grid-footer > div {
      margin: 0;
  }
}

  .grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
    padding: 2rem;
}

.grid-footer h3{
  font-size: 2.5rem;
  margin-right: 6rem;
}

.grid-footer p{
  font-size: 1.5rem;
}


.grid-footer .redes_sociales{
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin-right: 8rem;
}

.sus{
  text-align: center;
  align-items: center;
}

 form{
 margin-top: 1rem;
 margin-left: 1rem;
}

.sub-menu{
  list-style: none;
  font-size: 1.4rem;
  text-align: center;
}

.grid-footer .menu1 a{
  text-decoration: none;
  color: #e1e1e1;
}
.grid-footer .menu1{
  text-align: center;
}

.grid-footer .dis{
  text-align: center;
  margin-left: 6.3rem;
}

.typo{
  margin-left: 4.3rem;
}

.grid-footer .sus h3 p {
  text-align: center;
  margin-left: 6.3rem;
}

.grid-footer .foot h3{
  margin-left: 2rem;
  text-align: center;
}

.grid-footer .redes_sociales{
  margin-left: 2.5rem;
}

/* Tienda */

.menu_tienda{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Bootstrap */
.row{
  padding: 5rem;
    gap: 6.4rem;
    margin-left: 4rem;
}

.row p{
  color: #0b0b0c;
  font-size: 1.5rem;
}

.container .my-5{
  height: 20rem;
  width: 100;
}

